.t12_red {  font-family: tahoma; font-size: 12px; font-weight: bolder; color: #d40000}
.t12_grey { font-family: tahoma; font-size: 11px; font-weight: normal; color: #636363}
.t12_white { font-family: tahoma; font-size: 11px; font-weight: normal; color: #FFFFFF}
